{% extends 'base.html' %}
<!-- Content -->
{% block content %}
<div>
  <h4>{{movie}} Characters</h4>
  {% if characters %}
  <!-- Display character -->
  <table>
    <thead>
      <td>Name</td>
      <td>Age</td>
      <td>First Appearance</td>
    </thead>
    <tbody>
      {% for character in characters %}
      <tr>
        <td>{{character.name}}</td>
        <td>{{character.age}}</td>
        <td>{{character.first_appearance}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Paginator -->
  <div class="pagination">
    <span class="step-links">
      {% if characters.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{page_obj.previous_page_number}}">Previous</a>
      {% endif %}
      <span class="current"
        >Page
        <!-- Current Page -->
        {{characters.number}} of
        <!-- Total Pages -->
        {{characters.paginator.num_pages}}
      </span>

      <!-- Next Page -->
      {% if characters.has_next %}
      <a href="?page={{characters.next_page_number}}">Next</a>
      <a href="?page={{characters.paginator.num_pages}}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
  <!-- End of Paginator -->
  {% else %}
  <h4>No '{{movie.title }}' characters found</h4>
  {% endif %}
</div>
<div>
  <h2>Add a Character to Rick and Morty</h2>
  <form action="{% url 'moviecharacters:characters' movie.id %}" method="post">
    <!-- Add CSRF token -->
    {% csrf_token %}
    <!-- Display Form -->
    <label style="display: none" for="{{form.movie.label}}">
      {{form.movie.label}} {{form.movie}}
    </label>
    <label for="{{form.name.label}}"> {{form.name.label}} {{form.name}} </label>
    <label for="{{form.age.label}}"> {{form.age.label}} {{form.age}} </label>
    <label for="{{form.first_appearance.label}}">
      {{form.first_appearance.label}} {{form.first_appearance}}
    </label>
    <input type="submit" value="Add Character" />
  </form>
</div>
{% endblock %}
